<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpiderWork</title>
    <link rel="stylesheet" href="../styles/index.css" type="text/css">
    <script>
        function redirectToLoginPage() {
            window.location.href = "log-in.php";
        }
    </script>
</head>
<body>
    <div id="page1">
        <nav id="navbar">
            <ul id="navButtons">
                <li id="name">SpiderWork</li>
                <li class="options"><a href="page.php">Jobs</a></li>
                <li class="options"><a href="page.php">Employers</a></li>
                <li class="options"><a href="page.php">Recruiters</a></li>
                <li id="log-in"><button type="button" onclick="redirectToLoginPage()">Log In</button></li>
            </ul>
        </nav>
        <div id="bgImage">
            <form method="get" action="">
                <h1 id="slogan">Choose a job you love</h1>
                <div id="temp">
                    <input id="nameSearch" type="text" placeholder="Company name">
                    <input id="citySearch" type="text" placeholder="Location">
                </div>
            </form>
        </div>
    </div>
    <div id="page2">
        <div id="recAdd">
            <img src="../images/networking.png" height="150" width="150">
            <aside>
                <h1>Get invited to apply to jobs</h1>
                <p>
                    With a personal recruiter, 
                    you will now get matched 
                    to roles that are right for you.
                </p>
            </aside>
        </div>
        <div id="jobAdd">
            <aside>
                <h1>Build a strong professional profile</h1>
                <p>
                    Use our help to build your CV and 
                    become more popular in the market
                </p>
            </aside>
            <img src="../images/resume.png" height="150" width="150">
        </div>
        <button id="getStarted">Get started!</button>
    </div>
    <div id="page3">
            <img src="../images/pexels-alesia-kozik-6772076.jpg">
            <aside>
                <h1>Our Services</h1>
                <p>
                    Share your services or specializations here, then list them down as bullet 
                    points for mobile-friendly easy reading.
                </p>
                <ul>
                    <li class="services">Add stuff</li>
                    <li class="services">Add stuff</li>
                    <li class="services">Add stuff</li>
                </ul>
            </aside>
    </div>
    <div id="page4">
        <div id="generalFooter">
            <ul>
                <li><h2>Contact Us</h2></li>
                <li id="address">123 Anywhere St.<br>
                    Any City, ST 12345</li>
                <li id="tele">(123) 456-7890</li>
                <li id="mail">hello@reallygreatsite.com</li>
            </ul>
            <ul>
                <li><h2>SpiderWork</h2></li>
                <li><a href="">About us</a></li>
            </ul>
            <ul>
                <li><h2>Browse</h2></li>
                <li><a href="">All jobs</a></li>
                <li><a href="">All cities</a></li>
                <li><a href="">All companies</a></li>
                <li><a href="">All recruiters</a></li>
            </ul>
        </div>
        <div id="social">
            <li>Follow us online</li>
            <li class="logo"><img src="../images/facebook.png" width="20" height="20"></li>
            <li class='logo'><img src="../images/twitter.png" width="20" height="20"></li>
            <li class="logo"><img src="../images/instagram.png" width="20" height="20"></li>
        </div>
        <footer>
            <ul>
                <li><a href="">Terms of Service</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Cookie Settings</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>