<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpiderWork</title>
    <link rel="stylesheet" href="../styles/page.css" type="text/css">
</head>
<body>
    <div>
        <nav>
            <label class="logo">SpiderWork</label>
            <input class="searchBar" type="text" placeholder="Proffesion, Job Title or Keyword">
            <ul>
                <li><a href="#">Job Search</a></li>
                <li><a href="#">Career Guide</a></li>
                <li><a href="#">Login</a></li>
                <li><a class="active" href="#">Register</a></li>
                <li>|</li>
                <li><a href="#">For Employers</a></li>
            </ul>
        </nav>
    </div>
    <div>
            <section>
                    <div class="bigSearchDiv">
                        <div class="miniSearchDiv">
                                <div class="jobListing" onclick="">
                                    <div class="divisionLogoAndInfo">
                                        <div class="jobLogo">
                                            <img class='profileImg' src="../images/bg image.jpeg" alt="profile" width="70" height="70">
                                        </div>
                                        <div class="jobInfo">
                                            <h3>Webentwickler Backend - JavaScript / SQL / Rest (m/w/d)</h3>
                                            <h4>Company name</h4>
                                            <h4>Hours: </h4>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </section>
    </div>
    <div id="page4">
        <div id="generalFooter">
            <ul>
                <li><h2>Contact Us</h2></li>
                <li id="address">123 Anywhere St.<br>
                    Any City, ST 12345</li>
                <li id="tele">(123) 456-7890</li>
                <li id="mail">hello@reallygreatsite.com</li>
            </ul>
            <ul>
                <li><h2>SpiderWork</h2></li>
                <li><a href="">About us</a></li>
            </ul>
            <ul>
                <li><h2>Browse</h2></li>
                <li><a href="">All jobs</a></li>
                <li><a href="">All cities</a></li>
                <li><a href="">All companies</a></li>
                <li><a href="">All recruiters</a></li>
            </ul>
        </div>
        <div id="social">
            <li>Follow us online</li>
            <li class="logo"><img src="../images/facebook.png" width="20" height="20"></li>
            <li class='logo'><img src="../images/twitter.png" width="20" height="20"></li>
            <li class="logo"><img src="../images/instagram.png" width="20" height="20"></li>
        </div>
        <footer>
            <ul>
                <li><a href="">Terms of Service</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Cookie Settings</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>