<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Customization</title>
  <link rel="stylesheet" href="../styles/profileCustomization.css">
</head>

<body>
  <div class="container">
    <div class="profile-section">
      <div class="profile-details">
        <div class="profile-photo"></div>
        <h2 class="full-name">John Doe</h2>
      </div>
    </div>
    <div class="content-section">
      <div class="left-section">
        <h2 class="section-heading">Basic Information</h2>
        <div class="form-group">
          <label for="full-name">Full Name</label>
          <input type="text" id="full-name" name="full-name" required>
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>
      </div>
      <div class="right-section">
        <h2 class="section-heading">System Settings</h2>
        <div class="system-settings">
          <div class="language">
            <label for="language">Language</label>
            <div class="language-tester">
              <form class="lang-drop" method="get" action="#">
                <select name="language" id="language-selector" class="language-selector">
                    <option value="eng-us">English,US</option>
                    <option value="en-uk">English,UK</option>
                    <option value="eng-aus">English,AUS</option>
                    <option value="eng-ca">English,CA</option>
                    <option value="alb">Albanian</option>
                </select>
              </form>
              </div>
          </div>
          <div class="privacy-settings">
            <label for="privacy-settings">Privacy Settings</label>
            <p>Administrators, recruiters, employers, and job seekers can view my general information (Full Name, email)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-section">
      <button class="save-button">Save</button>
      <button class="delete-account-button">Delete Account</button>
    </div>
  </div>
</body>

</html>