body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  background: white;
  margin: 0;
  padding: 0;
}

.container {
  padding: 1vw;
  width: 96.5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.profile-section {
  border-radius: 30px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background: rgba(231, 228, 228, 0.596);
  box-shadow: 2px 2px rgba(147, 141, 141, 0.515);
}

.profile-details {
  text-align: center;
}

.profile-photo {
  width: 20vw;
  height: 20vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 10px;
}

.full-name {
  font-size: 4vw;
  margin-top: 2vw;
}

.content-section {
  flex-grow: 1;
  display: flex;
  padding: 2vw;
  border-bottom: 2px solid #ccc;
}

.left-section {
  flex-basis: 50%;
}

.right-section {
  flex-basis: 50%;
  padding-left: 2vw;
}

.section-heading {
  font-size: 2vw;
  margin-bottom: 2vw;
}

.form-group {
  margin-bottom: 2vw;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type = "lang"] {
  width: 90%;
  height: 7vh;
  padding: 1vw;
  font-size: 1.6vw;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  margin-top: 0.5vw;
  background: whitesmoke;
}

.language,
.privacy-settings {
  margin-bottom: 2vw;
}

.privacy-settings p {
  width: 90%;
  height: 7vh;
  width: 90%;
  padding: 0.65vw;
  font-size: 13.5px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  margin-top: 0.5vw;
  background: whitesmoke;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  border-top: 2px solid rgb(206, 206, 206);
}

button {
  display: inline-block;
  padding: 1vw 2vw;
  font-size: 1.6vw;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.save-button {
  background-color: #4CAF50;
  margin-right: 1vw;
  border-radius: 30px;
}

.delete-account-button {
  background-color: #FF0000;
  border-radius: 30px;
}
