@font-face {
    font-family: titleFont;
    src: url(../fonts/11.20___.TTF);
}

@font-face {
    font-family: placeholders;
    src: url(../fonts/LilGrotesk-Regular.otf);
}

@font-face {
    font-family: buttons;
    src: url(../fonts/LilGrotesk-Bold.otf);
}

@font-face{
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face{
    font-family: right;
    src: url(../fonts/Righteous-Regular.ttf);
}

@font-face {
    font-family: agrandir;
    src: url(../fonts/Agrandir-Regular.otf);
}

@font-face {
    font-family: libre; 
    src: url(../fonts/LibreBaskerville-Regular.ttf);
}

body{
    padding: 0px;
    margin: 0px;
    font-family: agrandir;
}

#menu{
    background-image: url("../images/userviewBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 100vw;
    display: flex;
}

#menu li{
    margin-right: 3vw;
}

#options{
    margin-right: 50vw;
    display: flex;
    list-style-type: none;
}

#options a{
    text-decoration: none;
    color: white;
}

#sNp{
    display: flex;
    list-style-type: none;
}

#sNp input[type="text"]{
    border-radius: 10px;
    width: 13vw;
    height: 2.5vh;
}

#sNp button{
    border-radius: 20px;
    width: 3vw;
    height: 5vh;
    background-image: url("../images/user.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

#feed li{
    display: flex;
    margin-right: 7vw;
}

#feedlist{
    width: 50vw;
    margin-left: 25vw;
    display: flex;
    list-style-type: none;
}

#feedlist a{
    text-decoration: none;
    color: black;
}

#profile{
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 3%;
    width: 20vw;
    height: 70vh;
    border-radius: 7%;
    background-color: white;
    box-shadow: 0px 5px 20px 1px gray;
}

#profile p{
    margin-left: 10%;
}

#profile img{
    margin-left: 25%;
}

#suggested {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 75%;
    width: 20vw;
    height: 55vh;
    border-radius: 20%;
    background-color: white;
    box-shadow: 0px 5px 20px 1px gray;
}

#suggested p{
    margin-left: 10%;
}

#posts {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 25%;
    width: 45vw;
    height: 20vh;
    border-radius: 10%;
    background-color: beige;
    display: flex;
    background-color: white;
    box-shadow: 0px 5px 20px 1px gray;
}

#profImage{
    background-image: url("../images/user.png");
    background-size: 6vh;
    background-repeat: no-repeat;
    background-position: center;
    width: 6vw;
}

#texts{
    position: relative;
    /* The trickster */
    top: -3vh;
    left: 0.5vw;
}

#texts img{
    margin-right: 0.7vw;
}

#setting{
    position: relative;
     top: 0.5vh;
    left: 20vw;
}
