
@font-face {
    font-family: buttons;
    src: url(../fonts/LilGrotesk-Bold.otf);
  }

body{
    margin: 10vh 0 0 35vw;
    align-items: center;
    font-family: Poppins;
    color: black;
    background-color: #b19cd9;
}

img{
    border-radius: 50%;
    margin-left: 12vw;
}

h3{
    margin-left: 10vw;
}

button{
    background-color: purple;
    color: white;
    border: none;
    width: 7vw;
    height: 4vh;
    border-radius: 10px;
    font-family: buttons;
    font-weight: bold;
}

#main{
    overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  min-height: 80vh;
  max-height: 90vh;
  max-width: 30vw;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 20px;
}

h4{
    margin-bottom: 0vh;
}

button:hover{
    background-color: darkorchid;
    cursor: pointer;
}

p{
    margin-bottom: 2vh;
    word-wrap: break-word;
    text-align: justify;
}

#buttonsDiv{
    margin-left: 4vw;
}
